<?xml version="1.0" encoding="UTF-8" ?>

<Server version="8">
	<Name>ORIGIN</Name>
	<Type>origin</Type>
	<IP>*</IP>
	<PrivacyProtection>false</PrivacyProtection>
	<StunServer>stun.l.google.com:19302</StunServer>

	<Modules>
		<HTTP2>
			<Enable>true</Enable>
		</HTTP2>

		<LLHLS>
			<Enable>true</Enable>
		</LLHLS>

		<P2P>
			<Enable>false</Enable>
			<MaxClientPeersPerHostPeer>2</MaxClientPeersPerHostPeer>
		</P2P>
	</Modules>

	<Bind>

		<Managers>
			<API>
				<Port>8081</Port>
				<TLSPort>8082</TLSPort>
				<WorkerCount>1</WorkerCount>
			</API>
		</Managers>
	
		<Providers>
			<RTMP>
				<Port>1935</Port>
				<WorkerCount>1</WorkerCount>
			</RTMP>
			<SRT>
				<Port>9999</Port>
				<WorkerCount>1</WorkerCount>
			</SRT>
			<WebRTC>
				<Signalling>
					<Port>3333</Port>
					<TLSPort>3334</TLSPort>
					<WorkerCount>1</WorkerCount>
				</Signalling>
				<IceCandidates>
					<IceCandidate>${PublicIP}:10000-10004/udp</IceCandidate>
					<TcpRelay>${PublicIP}:3478</TcpRelay>
					<TcpForce>true</TcpForce>
					<TcpRelayWorkerCount>1</TcpRelayWorkerCount>
				</IceCandidates>
			</WebRTC>
		</Providers>

		<Publishers>
			<OVT>
				<Port>9000</Port>
				<WorkerCount>1</WorkerCount>
			</OVT>
			<WebRTC>
				<Signalling>
					<Port>3333</Port>
					<TLSPort>3334</TLSPort>
					<WorkerCount>1</WorkerCount>
				</Signalling>
				<IceCandidates>
					<IceCandidate>${PublicIP}:10000-10004/udp</IceCandidate>
					<TcpRelay>${PublicIP}:3478</TcpRelay>
					<TcpForce>true</TcpForce>
					<TcpRelayWorkerCount>1</TcpRelayWorkerCount>
				</IceCandidates>
			</WebRTC>

			<Thumbnail>
				<Port>20080</Port>
				<TLSPort>20081</TLSPort>
			</Thumbnail>

		</Publishers>

	</Bind>

	<Managers>
		<Host>
			<Names>
				<Name>${env:OME_HOST_IP:*}</Name>
			</Names>
			<TLS>
				<CertPath>./cert.crt</CertPath>
				<KeyPath>./cert.key</KeyPath>
				<ChainCertPath>./cert.ca-bundle</ChainCertPath>
			</TLS>
		</Host>
		<API>
			<AccessToken>${env:OME_API_ACCESS_TOKEN:1234}</AccessToken>
			<CrossDomains>
				<Url>*</Url>
			</CrossDomains>
		</API>
	</Managers>
	
	<VirtualHosts>
		<!--<VirtualHost include="VHost*.xml" />-->
		<VirtualHost>
			<Name>default</Name>
			<Distribution>mlx.solutions</Distribution>
			<Host>
				<Names>
					<Name>${env:OME_HOST_IP:*}</Name>
				</Names>
				<TLS>
					<CertPath>./cert.crt</CertPath>
					<KeyPath>./cert.key</KeyPath>
					<ChainCertPath>./cert.ca-bundle</ChainCertPath>
				</TLS>
			</Host>

			<AdmissionWebhooks>
				<ControlServerUrl>https://api.muselink.com/pre/ome/admission/callback</ControlServerUrl>
				<SecretKey>${env:OME_ADMISSION_WEBHOOK_SECRET}</SecretKey>
				<Timeout>3000</Timeout>
				<Enables>
					<Providers>rtmp,webrtc,srt</Providers>
					<Publishers>webrtc</Publishers>
				</Enables>
			</AdmissionWebhooks>
			
			<OriginMapStore>
				<RedisServer>
					<Host>live-valkey.mlx.solutions:6379</Host>
					<Auth>${env:OME_REDIS_AUTH}</Auth>
				</RedisServer>
				<OriginHostName>${env:OME_HOST_IP}</OriginHostName>
			</OriginMapStore>
			

			<CrossDomains>
				<Url>*</Url>
			</CrossDomains>

			<!-- applications set by API -->
			
			
		</VirtualHost>
	</VirtualHosts>
</Server>
